<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Cadastro</title>
  </head>
  <body class="body">
    <header class="header">
      <h1>Cadastro de pokemon</h1>
      <section class="navegacao">
        <nav>
          <a class="button" href="/">Pagina Principal</a>
        </nav>
      </section>
    </header>
  </body>
</html>
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/estilo.css" />
    <title>Cadastro de Pokemon</title>
  </head>
  <body>
    <form action="/index" method="POST">
      <div>
        <label for="nome">Nome: </label>
        <input
          type="text"
          name="nome"
          id="input_nome"
          placeholder="digite o nome do pokemon"
          required
        />
      </div>

      <div>
        <label for="tipo">Tipo: </label>
        <input
          type="text"
          name="tipo"
          id="input_tipo"
          placeholder="digite o tipo de pokemon"
          required
        />
      </div>

      <button type="submit">Adicionar usuario</button>
    </form>
  </body>
</html>
